mixin about()
    section#about.about-section
        .container
            .about-section__card
                header.about-section__card-header
                    h2 Dollfine Towers
                .about-section__card-info
                    p This building site is conveniently located next to eighty feet Poranki to Nidamanuru road. As the city of Vijayawada grows after becoming the capital city take advantage of living in the suburbs with well-connected roads. Choose the apartment you want from a wide variety of floor plans and from four floors. There are sixteen apartment buildings interconnected with hallways and are accessible through elevators and stairs. The open ground floor is specifically designed to accommodate parking.
                    blockquote
                        p These homes are designed and build to fit around your lifestyle in great location with host of amenities. We ensure your future home will be comfortable, functional, affordable and delivered on time with uncompromised quality and vassthu compliance. These beautiful homes are built after perfecting the art of developing commercial projects since two decades with sound living spaces and with the feedback from growing community of happy customers.
                    p We will be with you all the way from helping to choose your dream home to delivering your home on time with clear documentation. The construction at the building site is going at a fast pace and is set to complete by year end. All the early customers can take advantage of customizing your home to your unique taste and comfort. We will help you with selecting any upgrades to your home and share your home status frequently.
                        |
                        a(href="#contact" style="color:#446CB3") Contact Us