mixin apptfloorplans()
    section#floorplans.common-section
        .container
            header.common-section__header
                h2 Floor Plans
            .corousel-section__card
                div(id="floorPlans" class="carousel slide" data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#floorPlans" data-slide-to="0" class="active")
                        li(data-target="#floorPlans" data-slide-to="1")
                        li(data-target="#floorPlans" data-slide-to="2")
                    div(class="carousel-inner" role="listbox")
                        div(class="item active")
                            img(class="rounded" src="../images/FloorPlans/Appt8.jpg" alt="" style="width:100%;")
                            div(class="carousel-caption d-none d-md-block")
                                h3 3 Bed Room 1800 SqFt
                                table(class="table table-bordered")
                                    tbody
                                        tr
                                            td Flat Size
                                            td 3 Bed Room 3 Bath
                                        tr
                                            td Area
                                            td 1800 SqFt
                                        tr
                                            td Similar Flats
                                            td Flat No 3 and 8
                        div(class="item")
                            img(class="rounded" src="../images/FloorPlans/Appt6.jpg" alt="" style="width:100%;")
                            div(class="carousel-caption d-none d-md-block")
                                h3 3 Bed Room 1755 SqFt
                                table(class="table table-bordered")
                                    tbody
                                        tr
                                            td Flat Size
                                            td 3 Bed Room 3 Bath
                                        tr
                                            td Area
                                            td 1755 SqFt
                                        tr
                                            td Similar Flats
                                            td Flat No 5 and 6
                        div(class="item")
                            img(class="rounded" src="../images/FloorPlans/Appt10.jpg" alt="" style="width:100%;")
                            div(class="carousel-caption d-none d-md-block")
                                h3 3 Bed Room 1650 SqFt
                                table(class="table table-bordered")
                                    tbody
                                        tr
                                            td Flat Size
                                            td 3 Bed Room 3 Bath
                                        tr
                                            td Area
                                            td 1650 SqFt
                                        tr
                                            td Similar Flats
                                            td Flat No 1 and 10
                        div(class="item")
                            img(class="rounded" src="../images/FloorPlans/Appt4.jpg" alt="" style="width:100%;")
                            div(class="carousel-caption d-none d-md-block")
                                h3 3 Bed Room 1415 SqFt
                                table(class="table table-bordered")
                                    tbody
                                        tr
                                            td Flat Size
                                            td 3 Bed Room 2 Bath
                                        tr
                                            td Area
                                            td 1415 SqFt
                                        tr
                                            td Similar Flats
                                            td Flat No 4 and 7
                        div(class="item")
                            img(class="rounded" src="../images/FloorPlans/Appt9.jpg" alt="" style="width:100%;")
                            div(class="carousel-caption d-none d-md-block")
                                h3 2 Bed Room 1225 SqFt
                                table(class="table table-bordered")
                                    tbody
                                        tr
                                            td Flat Size
                                            td 2 Bed Room 2 Bath
                                        tr
                                            td Area
                                            td 1225 SqFt
                                        tr
                                            td Similar Flats
                                            td Flat No 2 and 9
                        div(class="item")
                            img(class="rounded" src="../images/FloorPlans/Appt14.jpg" alt="" style="width:100%;")
                            div(class="carousel-caption d-none d-md-block")
                                h3 2 Bed Room 1220 SqFt
                                table(class="table table-bordered")
                                    tbody
                                        tr
                                            td Flat Size
                                            td 2 Bed Room 2 Bath
                                        tr
                                            td Area
                                            td 1220 SqFt
                                        tr
                                            td Similar Flats
                                            td Flat No 11, 12, 13, 14, 15 and 16
                    a(class="carousel-control" href="#floorPlans" role="button" data-slide="prev")
                        span(class="glyphicon glyphicon-chevron-left" style="color:#446CB3")
                        span(class="sr-only") Previous
                    a(class="newright carousel-control" href="#floorPlans" role="button" data-slide="next")
                        span(class="glyphicon glyphicon-chevron-right" style="color:#446CB3")
                        span(class="sr-only") Next
