mixin home()
    section#home.home-section
        .home-section__bg
        .home-section__overlay
            .container
                header.home-section__header
                    h1 Dollfine Towers
                    h2 Designed for your comfort with quality that exceeds your expectations!
                        |
                        |
                        a(href="#contact" style="color:#446CB3")
                            strong Contact Us
