<!-- Navigation -->
nav(class="navbar navbar-fixed-top navbar-inverse")
    div(class="container")
        div(class="navbar-header")
            a(class="navbar-brand" href="/")
                 img(src='../images/logo.png')
            button(class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarResponsive")
            ul(class="nav navbar-nav navbar-right")
                li(class="nav-item")
                    a(class="nav-link" href="#about") About
                li(class="nav-item")
                    a(class="nav-link" href="#floorplans") Floor Plans
                li(class="nav-item")
                    a(class="nav-link" href="#specifications") Amenities
                li(class="nav-item")
                    a(class="nav-link" href="#layout") Layout
                li(class="nav-item")
                    a(class="nav-link" href="#location") Location
                li(class="nav-item")
                    a(class="nav-link" href="#contact") Contact
                li(class="dropdown")
                    a(class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" href="#") Other Pages
                        span(class="caret")
                    ul(class="dropdown-menu")
                        li
                            a(href="#") Full Width Page
                        li
                            a(href="#") Sidebar Page
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Pricing Table
                li(class="nav-item")
                    a(href="#contact")
                        span(class="glyphicon glyphicon-log-in") SignIn