mixin specifications()
    section#specifications.common-section
        .container
            header.common-section__header
                h2 Specifications
            table(class="table")
                tbody
                    tr(class="active")
                        td
                            span(class="glyphicon glyphicon-home")
                        td Structure
                        td Quality RCC framed structure
                            br
                            |9" external wall and 6" internal wall with AAC blocks in cement mortar after finishing
                    tr(class="info")
                        td
                            span(class="glyphicon glyphicon-glass")
                        td Finishes
                        td
                            |Internal - Smooth plastered surface treated with wall care putty and painted with emulsion.
                            br
                            |External - Two coat plastering with wall care and water proof paint.
                    tr(class="active")
                        td
                            span(class="glyphicon glyphicon-th-large")
                        td Flooring
                        td
                            | All Rooms - 2ft X 2ft Vitrified tiles of standard make
                            br
                            | Toilets/Balconies - Anti skid ceramic tiles
                    tr(class="info")
                        td
                            span(class="glyphicon glyphicon-tower")
                        td Doors
                        td
                            | Main Door - Teak wood door frame and shutter aesthetically designed with melamine polish. Fitted with good quality hardware.
                            br
                            | Bathroom - Foam water reistant doors for bathrooms.
                            br
                            | Other Doors - Teak wood frame with good quality painted skin doors with quality hardware.
                    tr(class="active")
                        td
                            span(class="glyphicon glyphicon-modal-window")
                        td Windows
                        td
                            | Entrance - Teak wood window frame fitted with good quality hardware.
                            br
                            | Other Windows - UPVC sliding windows of glass and mosquitoes net with M.S grills safety.
                    tr(class="info")
                        td
                            span(class="glyphicon glyphicon-oil")
                        td Water Supply
                        td
                            | 24 hours bore water supply for all flats with over head tank.
                            br
                            | RO drinking water provision to all flats.
                    tr(class="active")
                        td
                            span(class="glyphicon glyphicon-ice-lolly")
                        td Kitchen
                        td
                            | Cooking platform with granite, stainless steel sink with both drinking and bore water connection.
                            br
                            | Provision for exhaust chimney
                    tr(class="info")
                        td
                            span(class="glyphicon glyphicon-th")
                        td Tile Dadoing
                        td
                            | Kitchen - Glazed ceramic tile dado upto 2'6" height.
                            br
                            | Toilet - Premium designer wall tile dado upto door height.
                            br
                            | Utility/Wash - Glazed ceramic tile dado upto 3ft height.
                    tr(class="active")
                        td
                            span(class="glyphicon glyphicon-tint")
                        td Bath Rooms
                        td
                            | Wash basin of standard make in all washrooms.
                            br
                            | W/C with flush tank of standard make in all washrooms.
                            br
                            | Provision for Geysers and Exhaust fan.
                            br
                            | All CP fittings of standard make.
                    tr(class="info")
                        td
                            span(class="glyphicon glyphicon-lamp")
                        td Electrical
                        td
                            | 3 phase power supply for each individual flat.
                            br
                            | Concealed copper wiring with Modular switches of standard make.
                            br
                            | A/C point in all bedrooms and living room.
                            br
                            | Power points for chimney, refrigerator, mixer, grinder in kitchen
                            br
                            | Washing machine power point in utility area.
                    tr(class="active")
                        td
                            span(class="glyphicon glyphicon-earphone")
                        td Connectivity
                        td
                            | TV, Telephone, Internet port and Intercom provision in living room.
                    tr(class="info")
                        td
                            span(class="glyphicon glyphicon-adjust")
                        td Special features
                        td
                            | Proper rain water harvesting pits.
                            br
                            | Bathrooms and wash areas will be treated with special water proof chemicals to prevent leakae in the building.
                            br
                            | CCTV security cameras.
                            br
                            | Power fencing
                            br
                            | Car parking with wide driveways.
                            br
                            | Three passenger lifts and a separate lift for service and goods.
                            br
                            | Generator back up for all lights, fans, lifts and common areas.
                            br
                            | RO drinding water plant.
                            br
                            | Inercom phone provision.
                            br
                            | 100% vassthu compliant.
                            br
                            | CRDA permission.
                    tr(class="warning")
                        td
                            span(class="glyphicon glyphicon-warning-sign")
                        td
                            span(class="bold") NOTE
                        td
                            | Registration, VAT, Service tax and any other taxes by the government are to be borne by the purchaser.